.card[data-v-cd30ef4f]{transition:transform .2s}.card[data-v-cd30ef4f]:hover{transform:translateY(-5px)}h2[data-v-cd30ef4f]{font-weight:700;color:#2c3e50}.text-muted[data-v-cd30ef4f]{font-size:.875rem}
